.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    padding: 2rem;
    text-align: center;
}

.profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 400px;
    margin: 0 auto;
    color: white;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}