@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

body {
	margin: 0px;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    backdrop-filter: saturate(150%);
    background-size: cover;
    background-position: center;
    background: linear-gradient(180deg, #0f0f0f 0%, #1a1a1a 50%, #000000 100%);
    background-size: cover;
    overflow: auto; /*overflow:hidden;*/
}

button {
    border: none;
    cursor: pointer;
}

.content-width {
	width: 80vw;
	margin: auto;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    color:white;
    font-family: 'Orbitron', sans-serif;
    margin-top: 100px;
}

.subtitle {
    font-size: 1.8rem;
    color: #f5fefd; 
    font-family: 'Orbitron', sans-serif;
}

.description {
    font-size: 1.1rem;
    color: #e0e0e0;
    font-family: 'Orbitron', sans-serif;
    max-width: 600px;
    line-height: 1.5;
	text-align: justify;
}

